<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            {% include 'style.css' %}

            .slick-header-column {
            background-color: #5F5F5F !important;
            background-image: none !important;
          }

            .bk-data-table *{
                color: black;
            }
        </style>
        <meta charset="utf-8">
        <title>Flowexplore</title>
        {{ bokeh_css }}
        {{ bokeh_js }}
    </head>
    <body>
        {{ plot_div|indent(8) }}
        {{ plot_script|indent(8) }}
    </body>
</html>