@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #fff;
    background: #2F2F2F;
}

.customTextInput .bk-widget-form-input {
      width: 154px;
      /*min-width: 70% !important;*/
}

.renameGroupTextInput .bk-widget-form-input {
      width: 50px;
      /*min-width: 70% !important;*/
}

.slick-header-column {
            background-color: #5F5F5F !important;
            background-image: none !important;
}

.bk-data-table *{
    color: black;
}

.customTextInput{
    margin-top: 0;
}

.bubbles{
    border-top: 2px solid white !important;
    border-bottom: 2px solid white !important;
}

.bubbles2{
    border-bottom: 2px solid white !important;
}

.dropdowns{
    color: black;
}

.group-btn{
    margin-top: 10px !important;
}

.full-border{
    border: 1px solid white !important;
    margin-top: 5px !important;
}

.bk-root .bk-widget select{
    width: 180px !important;
}
